# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv*/

# Environment Variables
.env

# IDE specific
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Cython debug symbols
cython_debug/